
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All apps</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update app</h2>
            <span class="text-light">Use the below form to Update app information</span>
        </div>

        <!-- add app form -->
         <!-- form handling -->
 <form method="POST" id="update_app">
    <div class="new_app">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="<%= app._id %>">
            <input type="text" name="name" value="<%= app.name %>" placeholder="Test App">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Package</label>
            <input type="text" name="package" value="<%= app.package%>" placeholder="com.package.io">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Curent Version</label>
            <input type="text" name="current_version" value="<%= app.current_version%>" placeholder="1.2.0">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
